NODE_ENV=development
APP_NAME=video-platform-backend
API_PORT=4000
CLIENT_ORIGIN=http://localhost:5173

MONGO_URI=mongodb://localhost:27017/video_platform

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_VIDEO_QUEUE=video.processing.queue

JWT_ACCESS_SECRET=change_this_access_secret

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_S3_BUCKET=replace_me
